<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/new">Send message</a>
    <div class="messages-board">
      <% messages.forEach(message => { %>
      <div class="user-message-container">
        <h2 class="userName"><%= message.user %></h2>
        <p class="message-text"><%= message.text %></p>
        <p class="message-date"><%= message.added %></p>
      </div>
      <% }) %>
    </div>
  </body>
</html>
